# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
deploy.sh

/public/apple-touch-icon.png
/public/favicon-16x16.png
/public/favicon-32x32.png
/public/favicon.ico
/public/sitemap.xml

index.html
robots.txt
sitemap.xml