name: Despliegue Automático

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted  # Usamos el runner auto-hospedado

    steps:
      - name: Despliegue en el servidor Mar Chiquita
        run: |
          bash /home/ldc/projects/marchiquita/front/deploy.sh

      - name: Despliegue en el servidor FIDI
        run: |
          bash /home/ldc/projects/fidi/front/deploy.sh
        continue-on-error: true  # Este paso se ejecutará incluso si el paso anterior falla
